.DS_Store
/fl_data
/FedCD-Core/results
/FedCD-Core/system/models
*__pycache__*
/FedCD-Core/dataset/Cifar10
/FedCD-Core/dataset/TinyImagenet
/FedCD/dataset/Cifar10
/FedCD/dataset/TinyImagenet
/dataset/Cifar10
/dataset/Cifar100
/dataset/TinyImagenet
/FedCD-Core/dataset/Cifar100
/FedCD-Core/Cifar10
/FedCD-Baseline/dataset/MNIST
.DS_Store
fl_data.zip
